* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif; }

body {
  padding: 2rem; }
  @media (max-width: 750px) {
    body {
      padding: 0.75rem; } }

.container {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 2rem 8rem; }
  @media (max-width: 750px) {
    .container {
      flex-direction: column;
      padding: 2rem 5rem;
      padding-bottom: 0rem; } }

.container__1 {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 8rem; }
  @media (max-width: 1200px) {
    .container__1 {
      padding: 2rem 2rem; } }
  @media (max-width: 750px) {
    .container__1 {
      padding: 2rem 2rem; } }

.container__2 {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 2rem 8rem; }
  @media (max-width: 750px) {
    .container__2 {
      flex-direction: column-reverse;
      padding: 2rem 5rem;
      padding-bottom: 0rem; } }

.heading__primary {
  font-size: 4rem;
  font-weight: 500;
  text-transform: uppercase; }
  @media (max-width: 900px) {
    .heading__primary {
      font-size: 3.5rem; } }

.heading__secondary {
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase; }
  @media (max-width: 1200px) {
    .heading__secondary {
      font-size: 2.5rem; } }
  @media (max-width: 850px) {
    .heading__secondary {
      font-size: 2rem; } }
  @media (max-width: 675px) {
    .heading__secondary {
      font-size: 1.5rem; } }
  .heading__secondary-1 {
    font-size: 2.5rem; }
    @media (max-width: 1100px) {
      .heading__secondary-1 {
        font-size: 2.25rem; } }
    @media (max-width: 900px) {
      .heading__secondary-1 {
        font-size: 1.7rem; } }
    @media (max-width: 850px) {
      .heading__secondary-1 {
        font-size: 1.5rem; } }
    @media (max-width: 675px) {
      .heading__secondary-1 {
        font-size: 1.1rem; } }

.paragraph {
  font-size: 1.75rem;
  width: 100%;
  padding-left: 1rem;
  font-weight: 300;
  margin: 2rem 0; }
  .paragraph__content {
    font-size: 1.75rem;
    text-align: center; }
    @media (max-width: 900px) {
      .paragraph__content {
        font-size: 1.25rem; } }
    @media (max-width: 900px) {
      .paragraph__content {
        font-size: 0.8rem; } }
  @media (max-width: 900px) {
    .paragraph {
      font-size: 1.5rem; } }

.bullet {
  width: 100%; }

.color_white {
  color: white; }

.margin-top-small {
  margin-top: 2rem; }

.margin-medium {
  margin: 4rem; }

.center {
  width: 100%;
  text-align: center; }

.card {
  width: 30%;
  background-image: linear-gradient(135deg, #dc2430, #7b4397);
  position: relative;
  overflow: hidden;
  padding: 2rem;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.3);
  cursor: pointer; }
  .card__icon {
    color: white;
    font-size: 5rem;
    display: block;
    margin: 6rem auto 6rem auto; }
    @media (max-width: 900px) {
      .card__icon {
        font-size: 4rem;
        margin: 4rem auto 4rem auto; } }
    @media (max-width: 600px) {
      .card__icon {
        font-size: 3rem;
        margin: 3rem auto 3rem auto; } }
  @media (max-width: 900px) {
    .card {
      padding: 2rem 1rem; } }

.content {
  color: white;
  background-image: linear-gradient(135deg, #dc2430, #7b4397);
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(100%);
  margin-left: -2rem;
  transition: all 0.5s ease-in-out;
  padding: 2rem; }
  @media (max-width: 900px) {
    .content {
      width: 100%;
      height: 100%;
      margin-left: -1rem; } }
  @media (max-width: 675px) {
    .content {
      padding: 1rem; } }

.card:hover .content {
  transform: translateY(0);
  margin-top: -2rem; }

.card_1 {
  width: 20%;
  padding: 2rem;
  background-color: transparent;
  border-radius: 25px;
  border: 2px solid white; }
  @media (max-width: 900px) {
    .card_1 {
      padding: 1rem; } }
  @media (max-width: 675px) {
    .card_1 {
      width: 22%; } }

.navigation__checkbox {
  display: none; }

.navigation__button {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 2000;
  background-color: white;
  cursor: pointer;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  text-align: center;
  transition: all 0.4s; }
  @media (max-width: 1200px) {
    .navigation__button {
      top: 4rem;
      right: 4rem;
      width: 3.5rem;
      height: 3.5rem; } }

.navigation__background {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-image: radial-gradient(#dc2430, #7b4397);
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  z-index: 1000;
  transition: all 0.5s; }
  @media (max-width: 1200px) {
    .navigation__background {
      top: 4.2rem;
      right: 4.2rem;
      width: 2.5rem;
      height: 2.5rem; } }

.navigation__nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0%;
  transition: all 0.5s; }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  transition: all 1s; }

.navigation__item {
  margin: 3rem 0; }

.navigation__link {
  display: inline-block;
  font-size: 3rem;
  text-decoration: none;
  color: white;
  font-weight: 300;
  text-transform: uppercase;
  padding: 0rem 1rem;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
  background-size: 230%;
  transition: all 0.4s; }
  .navigation__link:hover {
    background-position: 100%;
    color: #dc2430;
    transform: translateX(-1rem); }
  @media (max-width: 1200px) {
    .navigation__link {
      font-size: 1.5rem; } }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::after, .navigation__icon::before {
    width: 2rem;
    height: 2px;
    background-color: grey;
    display: inline-block;
    transition: all 0.4s; }
  .navigation__icon::after, .navigation__icon::before {
    content: "";
    position: absolute;
    left: 0; }
  .navigation__icon::before {
    top: -0.8rem; }
    @media (max-width: 1200px) {
      .navigation__icon::before {
        top: -0.4rem; } }
  .navigation__icon::after {
    top: 0.8rem; }
    @media (max-width: 1200px) {
      .navigation__icon::after {
        top: 0.4rem; } }
  @media (max-width: 1200px) {
    .navigation__icon {
      margin-top: 1.75rem; } }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  transform: rotateZ(135deg);
  top: 0rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  transform: rotateZ(-135deg);
  top: 0rem; }

.header {
  padding: 3rem; }

.about {
  width: 100%;
  background-image: linear-gradient(45deg, #dc2430, #7b4397);
  margin-top: -1.5rem; }
  .about__left {
    width: 60%;
    padding: 2rem; }
    @media (max-width: 750px) {
      .about__left {
        width: 90%; } }
  .about__right {
    width: 40%; }
    @media (max-width: 750px) {
      .about__right {
        width: 90%; } }
  .about__img {
    width: 100%; }

.contact {
  width: 100%;
  background-image: linear-gradient(45deg, #dc2430, #7b4397);
  padding-bottom: 0rem; }

.credits {
  margin-bottom: 0; }

.education {
  width: 100%;
  background-color: white;
  margin-top: -1rem;
  padding: 8rem;
  padding-bottom: 0; }
  @media (max-width: 900px) {
    .education {
      padding: 2rem; } }
  .education__left {
    width: 60%;
    padding: 1rem 3rem; }
    @media (max-width: 750px) {
      .education__left {
        width: 90%; } }
  .education__right {
    width: 40%; }
    @media (max-width: 750px) {
      .education__right {
        width: 100%; } }
  .education__img {
    width: 130%; }
    @media (max-width: 750px) {
      .education__img {
        width: 100%; } }
  .education__text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0; }
    .education__text:not(:last-child) {
      border-bottom: 1px solid #7b4397; }

.home {
  max-width: 114rem;
  background-color: white; }

.interests {
  width: 100%;
  background-color: white;
  padding-top: 2rem;
  margin-top: -1rem; }

.intro {
  width: 100%;
  padding-top: 8rem;
  background-image: linear-gradient(45deg, #dc2430, #7b4397); }
  @media (max-width: 900px) {
    .intro {
      padding-top: 4rem; } }
  .intro__left {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid white;
    width: 50%; }
    @media (max-width: 750px) {
      .intro__left {
        width: 90%;
        border-right: 0px; } }
  .intro__right {
    padding: 2rem;
    width: 50%; }
    @media (max-width: 750px) {
      .intro__right {
        width: 90%;
        justify-self: center; } }
  .intro__img {
    width: 60%; }
  .intro__heading {
    font-size: 6rem;
    color: white;
    font-weight: 300; }
    @media (max-width: 900px) {
      .intro__heading {
        font-size: 5rem; } }
    @media (max-width: 750px) {
      .intro__heading {
        text-align: center; } }
  .intro_paragraph {
    font-size: 2rem;
    color: white;
    font-weight: 100;
    line-height: 3rem;
    margin: 1.5rem;
    width: 60%; }
    @media (max-width: 750px) {
      .intro_paragraph {
        text-align: center;
        display: block;
        margin: 1rem auto;
        width: 80%; } }
